* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 10px;
} 

@import "themes/Tokyo-Night.css";

window#waybar {
  background: transparent;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0;
}

tooltip label {
  color: @main-fg;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  color: @main-fg;
}

#workspaces button.active {
  color: @wb-active-fg;
}

#workspaces button:hover {
  color: @wb-hover-fg;
}

#battery,
#bluetooth,
#backlight,
#pulseaudio,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#pulseaudio,
#tray,
#window,
#temperature,
#custom-menu,
#proton,
#custom-bluelight,
#workspaces {
  color: @main-fg;
  background-color: @bar-bg;
  border-radius: 10px;
  opacity: 1;
  margin: 10px 5px 2px 5px;
  padding: 5px 10px 5px 10px;
}

#custom-menu {
  font-size: 20px;
  color: #1793d1;
  padding-left: 12px;
  padding-right: 8px;
  margin-left: 20px;
}

#battery {
  margin-right: 20px;
}

#battery.charging {
  color: #9ECE6A;
}

#battery.warning:not(.charging) {
  color: #E0AF68;
}

#battery.critical:not(.charging) {
  color: #F7768E;
}
